<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 定义数据源的信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost:3306/DessertHome</value>
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value>941016</value>
		</property>
		<property name="maxPoolSize">
			<value>80</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<!--定义Hibernate的SessionFactory -->
	<!-- SessionFactory使用的数据源为上面的数据源 -->
	<!-- 指定了Hibernate的映射文件和配置信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/ynwi/ssh/beans/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="baseDao" class="com.ynwi.ssh.daoImpl.UserDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="memberDao" class="com.ynwi.ssh.daoImpl.MemberDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="comDao" class="com.ynwi.ssh.daoImpl.ComDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="riskDao" class="com.ynwi.ssh.daoImpl.RiskDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="buyDao" class="com.ynwi.ssh.daoImpl.BuydaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="storeDao" class="com.ynwi.ssh.daoImpl.StoreDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="orderDao" class="com.ynwi.ssh.daoImpl.OrderDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--用户注册业务逻辑类 -->
	<bean id="userManager" class="com.ynwi.ssh.serviceImpl.UserManagerImpl">
		<property name="dao">
			<ref bean="baseDao" />
		</property>
	</bean>
	
	<bean id="memberManager" class="com.ynwi.ssh.serviceImpl.MemberManagerImpl">
		<property name="dao">
			<ref bean="memberDao" />
		</property>
	</bean>

	<bean id="comManager" class="com.ynwi.ssh.serviceImpl.ComManagerImpl">
		<property name="dao">
			<ref bean="comDao" />
		</property>
	</bean>
	
	<bean id="buyManager" class="com.ynwi.ssh.serviceImpl.BuyManagerImpl">
		<property name="dao">
			<ref bean="buyDao" />
		</property>
		<property name="dao2">
			<ref bean="comDao" />
		</property>
	</bean>
	
	<bean id="storeManager" class="com.ynwi.ssh.serviceImpl.StoreManagerImpl">
		<property name="dao">
			<ref bean="storeDao" />
		</property>
	</bean>
	
	<bean id="orderManager" class="com.ynwi.ssh.serviceImpl.OrderManagerImpl">
		<property name="dao">
			<ref bean="orderDao" />
		</property>
	</bean>
	
	<bean id="riskmanager" class="com.ynwi.ssh.serviceImpl.RiskManagerImpl">
		<property name="dao">
			<ref bean="riskDao" />
		</property>
	</bean>

	<!-- 用户注册的Action -->
	<bean id="regAction" class="com.ynwi.ssh.action.RegisterAction">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>

	<!-- more bean definitions go here -->
	<!-- 用户登录的Action -->
	<bean id="checkAction" class="com.ynwi.ssh.action.CheckAction">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	
	<!-- 会员注册的Action -->
	<bean id="memberregAction" class="com.ynwi.ssh.action.MemberRegAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<!-- 会员更新的Action -->
	<bean id="memberupdAction" class="com.ynwi.ssh.action.MemberUpdAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<!-- 会员xunzhao的Action -->
	<bean id="memberfindAction" class="com.ynwi.ssh.action.MemberFindAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<!-- 会员xunzhao的Action -->
	<bean id="memberstiAction" class="com.ynwi.ssh.action.MemberStiAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<bean id="memberp" class="com.ynwi.ssh.action.MemberPointAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<!-- 会员xunzhao的Action -->
	<bean id="memberstoAction" class="com.ynwi.ssh.action.MemberStopAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<bean id="recordAction" class="com.ynwi.ssh.action.AllRecordAction">
		<property name="memberManager">
			<ref bean="memberManager" />
		</property>
	</bean>
	
	<bean id="comregAction" class="com.ynwi.ssh.action.ComRegAction">
		<property name="comManager">
			<ref bean="comManager" />
		</property>
	</bean>
	
	<bean id="buyAction" class="com.ynwi.ssh.action.BuyCreateAction">
		<property name="buyManager">
			<ref bean="buyManager" />
		</property>
		<property name="comManager">
			<ref bean="comManager" />
		</property>
	</bean>
	
	<bean id="allcpAction" class="com.ynwi.ssh.action.AllCpAction">
		<property name="comManager">
			<ref bean="comManager" />
		</property>
	</bean>
	
	<bean id="allstoreAction" class="com.ynwi.ssh.action.AllStoreAction">
		<property name="storeManager">
			<ref bean="storeManager" />
		</property>
	</bean>
	
	<bean id="allmemberAction" class="com.ynwi.ssh.action.AllMemberAction">
		<property name="storeManager">
			<ref bean="storeManager" />
		</property>
	</bean>
	
	<bean id="allbuyAction" class="com.ynwi.ssh.action.AllBuyAction">
		<property name="storeManager">
			<ref bean="storeManager" />
		</property>
	</bean>
	
	<bean id="allclerkAction" class="com.ynwi.ssh.action.AllClerkAction">
		<property name="storeManager">
			<ref bean="storeManager" />
		</property>
	</bean>
	
	<bean id="allorderAction" class="com.ynwi.ssh.action.AllOdAction">
		<property name="ordermanager">
			<ref bean="orderManager" />
		</property>
	</bean>
	
	<bean id="allriskAction" class="com.ynwi.ssh.action.AllRiskAction">
		<property name="riskmanager">
			<ref bean="riskmanager" />
		</property>
	</bean>
	
	<bean id="riskAction" class="com.ynwi.ssh.action.RiskAction">
		<property name="riskmanager">
			<ref bean="riskmanager" />
		</property>
	</bean>
	
	<bean id="permitAction" class="com.ynwi.ssh.action.PermitAction">
		<property name="comManager">
			<ref bean="comManager" />
		</property>
	</bean>
	
	<bean id="storecreateAction" class="com.ynwi.ssh.action.StoreCreateAction">
		<property name="storeManager">
			<ref bean="storeManager" />
		</property>
	</bean>
	
	<bean id="clerkcreateAction" class="com.ynwi.ssh.action.ClerkCreateAction">
		<property name="storeManager">
			<ref bean="storeManager" />
		</property>
	</bean>
	
	<bean id="ordercreate" class="com.ynwi.ssh.action.OrderCreateAction">
		<property name="ordermanager">
			<ref bean="orderManager" />
		</property>
	</bean>
	
	<bean id="ordersell" class="com.ynwi.ssh.action.OrderSellAction">
		<property name="ordermanager">
			<ref bean="orderManager" />
		</property>
	</bean>

</beans>